
{% extends "base.html" %}


{% block title %}Title{% endblock %}



{% block styles %}

    {{super()}}
    <!-- DataTables CSS -->
    <link rel="stylesheet"
      href="{{url_for('static', filename='DataTables/DataTables-1.10.16/css/dataTables.bootstrap.css')}}">
    <!-- DataTables Responsive CSS -->
    <link rel="stylesheet"
      href="{{url_for('static', filename='DataTables/Responsive-2.2.1/css/responsive.bootstrap.css')}}">



{% endblock %}

{% block page_content %}

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{% if name  %}{{ name }} {% endif %}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row" style="width:100%">
                <table id="example" class="table table-striped "  cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            {% for name in listnames %}
                                <th>{{name}}</th>
                            {% endfor %}

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            {% for name in listnames %}
                                <th>{{ name }}</th>
                            {% endfor %}
                        </tr>
                    </tfoot>
                </table>

                <!-- /.col-lg-12 -->
            </div>





{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- DataTables JavaScript -->

    <script type="text/javascript"
            src="{{url_for('static', filename='DataTables/DataTables-1.10.16/js/jquery.dataTables.min.js')}}"></script>
    <script type="text/javascript"
            src="{{url_for('static', filename='DataTables/DataTables-1.10.16/js/dataTables.bootstrap.min.js')}}"></script>
    <script type="text/javascript"
            src="{{url_for('static', filename='DataTables/Responsive-2.2.1/js/dataTables.responsive.js')}}"></script>


    <script type="text/javascript"
            src="{{url_for('static', filename='DataTables/Buttons-1.5.0/js/dataTables.buttons.min.js')}}"></script>
    <script type="text/javascript"
            src="{{url_for('static', filename='DataTables/JSZip-2.5.0/jszip.min.js')}}"></script>
    <script type="text/javascript"
            src="{{url_for('static', filename='DataTables/pdfmake-0.1.32/pdfmake.min.js')}}"></script>
    <script type="text/javascript"
            src="{{url_for('static', filename='DataTables/pdfmake-0.1.32/vfs_fonts.js')}}"></script>
    <script type="text/javascript"
            src="{{url_for('static', filename='DataTables/Buttons-1.5.0/js/buttons.html5.js')}}"></script>



    <script>
    var table;
    $(document).ready(function() {

            table = $('#example').DataTable({
                "ajax": "{% if ajaxl %}{{ ajaxl }}{% endif %}",
                "columnDefs": [{
                    "targets": -1,
                    "mData": null,
                    "mRender": function (data, type, full) {
                        return '<a class="btn btn-info btn-sm" href={% if formurl %}{{ formurl }}{% endif %}?id=' + full[0] + '>' + '修改' + '</a>' +
                            '<a href="javascript:void(0)" class="btn btn-danger btn-sm delbuttons" >' + '删除' + '</a>';
                    }
                },{ "visible": false, "targets": 0 }],
                dom: 'Bfrtip',
                buttons: [
                    {
                        text: '新增',
                        action: function ( e, dt, node, config ) {
                            window.location.href = '{% if formurl %}{{ formurl }}{% endif %}'
                        }
                    },
                    'copyHtml5',
                    'excelHtml5',
                    {
                        extend: 'csvHtml5',
                        charset: 'utf-8',
                        sCharSet: 'utf8',
                        aButtons: true
                    }
                ],
                responsive: true
            });
            function hidetr(){
                table.row('.selected').remove().draw( false );
            }
            $('#example tbody').on( 'click', '.delbuttons', function (event) {
                var data = table.row( $(this).parents('tr') ).data();
                $(this).parents('tr').addClass('selected');
                var thistr = $(this).parents('tr');
                $.ajax({url: "{% if formurl %}{{ formurl }}{% endif %}_del?id="+data[0], success: function(result){

                    if(result.data == "success"){
                        hidetr()
                    }
                    else{
                        if (result.info != null)
                            alert(result.info)
                        else
                            alert("失败，请重试！");
                        $(thistr).removeClass('selected');

                    }
                }});
                 event.stopPropagation();
            } );



    });
    </script>
{% endblock %}