# -*- coding:utf-8 -*-
import os
basedir = os.path.abspath(os.path.dirname(__file__))

"""nginx 本地访问路径目录"""
NGINX_HOST_LOCAL = 'http://localhost:8080'
UPLOAD_PATH = 'uploads'


"""redis 缓存配置"""
REDIS_HOST = '127.0.0.1'
REDIS_PORT = '6379'
REDIS_DB = '1'

"""基础配置"""
# create SECRET_KEY can by os.urandom(24)
class Config:
    SECRET_KEY = os.environ.get('SECRET_KEY') or 'hard to guess string'
    SQLALCHEMY_COMMIT_ON_TEARDOWN = True
    SQLALCHEMY_RECORD_QUERIES = True
    SQLALCHEMY_RECORD_QUERIES = True
    SQLALCHEMY_COMMIT_ON_TEARDOWN = True
    SQLALCHEMY_TRACK_MODIFICATIONS = True
    DEBUG = True

    @staticmethod
    def init_app(app):
        pass

class BaseConfig(object):
    CELERY_BROKER_URL = 'redis://localhost:6379/2'
    CELERY_RESULT_BACKEND = 'redis://localhost:6379/2'
    CELERY_TASK_SERIALIZER = 'json'



# available languages
LANGUAGES = {
    'en': 'English',
    'zh': 'Chinese'
}




"""
接口调用token密钥配置
api auth token secret
"""
AUTH_TOKEN_SECRET = "AUTH_USER_ACCESS_TOKEN"
AUTH_REFRESH_TOKEN_SECRET = "ND_TOKEN_REFRESH"


"""
OSS 阿里云存储相关配置信息
"""
Access_Key_ID = 'LTAITCEDARIg6zZC'
Access_Key_Secret = 'VuldhpXzZV8O4J1nKSJnjDYRhgQBLI'
endpoint = 'oss-cn-qingdao.aliyuncs.com'
REGION_ID = 'cn-qingdao'
bucket_name = 'ndmooc-nds'
host = 'http://ossstatic.ndmooc.com'
oss_upload_host = 'http://ossstatic.ndmooc.com'
upload_base_path = "OMCP"

"""服务器访问域名"""
DOMAIN = "http://192.168.0.188"

"""
是否同步数据:
True: 同步
False:不同步
"""
SYNY = True



"""分页每页显示数量"""
org_per_page = 10
user_per_page = 10


UPLOAD_FOLDER = basedir + '/uploads'
ALLOWED_EXTENSIONS = set(['xls', 'pdf', 'png', 'jpg', 'jpeg', 'gif'])

